extends layout.pug
block content
    include templates/nav
    div.container
        div.row
            div(class=['col-xs-12'])
                br
                ol(class="breadcrumb")
                    li
                        a(href="/inicio") Inicio
                    li.active #{user}
        div.row
            div(class=['col-xs-12','col-sm-4'])
                h2.text-success Perfíl
                div.well
                    center
                        figure
                            img(src=`/image/avatars/${data_user[0].avatar}` class="img-responsive img-thumbnail avatar")
                    h2.text-center
                        span #{data_user[0].name} #{data_user[0].last_name}
                    hr
                    p 
                        span.glyphicon.glyphicon-envelope 
                        span 
                        span #{data_user[0].email}
            div(class=['col-xs-12','col-sm-8'])
                if(error_image)
                    div(role="alet").alert.alert-danger
                        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
                        strong #{error_image}
                //Nav tabs
                ul(class=['nav','nav-tabs','nav-justified'])
                    li(role="presentation", class="active")
                        a(href="#videos", role="tab", data-toggle="tab") 
                            span.glyphicon.glyphicon-upload
                            span 
                            span Actividad
                //Tab panels
                div.tab-content
                    div(class=['tab-pane','fade','in','active'], id="videos")
                        div(class=['list-group'])
                            if(data.length != 0)
                                each video in data
                                    a(class=['list-group-item'], href="/detalles/"+video.id data-tag=video.categoria)
                                        div.row
                                            div(class=['col-xs-12','col-sm-12','col-md-12'])
                                                span Publicado: 
                                                span= moment(video.fecha_publicacion).fromNow()
                                                br
                                                br
                                            div(class=['col-xs-12','col-sm-12','col-md-12'])
                                                div(class=["col-xs-12", "col-sm-3"])
                                                    figure
                                                        img(src=`https://i.ytimg.com/vi/${video.url}/0.jpg`, width="150" alt="Portada", class=['media-object','img-responsive','app-img-centrar'])
                                                div(class=["col-xs-12", "col-sm-9"])
                                                    div(class=['col-xs-12'])
                                                        span.glyphicon.glyphicon-tags 
                                                        span 
                                                        span.label.label-success #{video.categoria}
                                                        p(class=['app-justificar']) #{video.descripcion}
                                                    div(class=['col-xs-12','app-iconos'])
                                                        div(class=['col-xs-4'])
                                                            p.text-center
                                                                span(class=['glyphicon','glyphicon-eye-open','gl-vistas'])
                                                                span.hidden-sm.hidden-xs  Vistas 
                                                                span(class=['badge']) #{video.visitas}
                                                        div(class=['col-xs-4'])
                                                            p.text-center
                                                                span(class=['glyphicon','glyphicon-comment','gl-comentarios'])
                                                                span.hidden-sm.hidden-xs  Comentarios 
                                                                - var comentarios = video.comentarios
                                                                if(comentarios == null)
                                                                    span(class=['badge']) 0
                                                                else
                                                                    span(class=['badge']) #{video.comentarios}
                                                        div(class=['col-xs-4'])
                                                            p.text-center
                                                                span(class=['glyphicon','glyphicon-star','gl-votos'])
                                                                span.hidden-sm.hidden-xs  Votos 
                                                                - var votos = video.votos
                                                                if(votos == null)
                                                                    span(class=['badge']) 0
                                                                else
                                                                    span(class=['badge']) #{video.votos} 
                                            div(class=['col-xs-12','app-etiquetas','text-center'])
                                                span #{video.titulo}
                            else
                                div(role="alert").alert.alert-danger No hay registros en la base de datos.
    include templates/footer